h1 {
  text-align: center;
}

.navbar ul {
  background-color: DimGray;
  list-style-type: none;

}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: flex;
  position: relative;
}